img.profile-img {
    border-radius: 100%;
    width: 65px;
}

img.logo-img {
    width: 150px;
}

img.img-width {
    width: 100%;
    max-width: 560px;
}

#main {
    width: 100%;
    max-width: 560px;
}

.max-w {
    max-width: 560px;
}

  .youtube-player {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
      background: #000;
      margin: 5px;
  }

  .youtube-player iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      background: transparent;
  }

  .youtube-player img {
      object-fit: cover;
      display: block;
      left: 0;
      bottom: 0;
      margin: auto;
      max-width: 100%;
      width: 100%;
      position: absolute;
      right: 0;
      top: 0;
      border: none;
      height: auto;
      cursor: pointer;
      -webkit-transition: 0.4s all;
      -moz-transition: 0.4s all;
      transition: 0.4s all;
  }

  .youtube-player img:hover {
      -webkit-filter: brightness(75%);
  }

  .youtube-player .play {
      height: 72px;
      width: 72px;
      left: 50%;
      top: 50%;
      margin-left: -36px;
      margin-top: -36px;
      position: absolute;
      background: url('//i.imgur.com/TxzC70f.png') no-repeat;
      cursor: pointer;
  }

.bg-yellow {
    background-color: #ffff00;
}

.bg-dark-grey {
    background-color: #2b2b2b;
}

.bg-blood-red {
    background-color: #af111c;
}

.text-blood-red {
    color: #af111c;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.text-torq {
    color: #87e3ff;
}

.rounded-corners {
    border-radius: .3rem;
}

.box-shade {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.9);
}

.pd-all {
    padding: 20px;
}

.pd-top-bottom {
    padding: 20px 0;
}

.pd-left-right {
    padding: 0 20px;
}

.pd-right {
    padding-right: 20px;
}

.p-card {
    padding: 0 20px 20px 20px;
}

.pd-top {
    padding-top: 20px;
}

.pd-bot {
    padding-bottom: 20px;
}

.pd-bot-10 {
    padding-bottom: 10px;
}

.mg-top {
    margin-top: 20px;
}

.mg-bot {
    margin-bottom: 20px;
}

.bd-bot {
    border-bottom: 2px solid #000;
}

/* Fictoan */
/* == COLOURS ============================================================== */

.bg-shade {
    background-color: #002147;
}

.bg-grey {
    background-color: #575757;
}

.bg-yellow {
    background-color: #ffd60a;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}
