/*! Spectre.css v0.5.9 | MIT License | github.com/picturepan2/spectre */
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

b,
strong {
    font-weight: inherit
}

b,
strong {
    font-weight: bolder
}

img {
    border-style: none
}

button,
input,
select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button {
    -webkit-appearance: button
}

button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

*,
::after,
::before {
    box-sizing: inherit
}

html {
    box-sizing: border-box;
    font-size: 20px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent
}

body {
    background: #eeeeee;
    color: #3b4351;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 0.8rem;
    overflow-x: hidden;
    text-rendering: optimizeLegibility
}

.h2,
.h3,
.h4,
.h5 {
    font-weight: 500
}

.h2 {
    font-size: 1.6rem
}

.h3 {
    font-size: 1.4rem
}

.h4 {
    font-size: 1.2rem
}

.h5 {
    font-size: 1rem
}

p {
    margin: 0;
}

.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: .05rem solid #5755d9;
    border-radius: .1rem;
    color: #5755d9;
    cursor: pointer;
    display: inline-block;
    font-size: .8rem;
    height: 1.8rem;
    line-height: 1.2rem;
    outline: 0;
    padding: .25rem .4rem;
    text-align: center;
    text-decoration: none;
    transition: background .2s, border .2s, box-shadow .2s, color .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap
}

.btn:focus {
    box-shadow: 0 0 0 .1rem rgba(87, 85, 217, .2)
}

.btn:focus,
.btn:hover {
    background: #f1f1fc;
    border-color: #4b48d6;
    text-decoration: none
}

.btn:active {
    background: #4b48d6;
    border-color: #3634d2;
    color: #fff;
    text-decoration: none
}

.btn:disabled {
    cursor: default;
    opacity: .5;
    pointer-events: none
}

.btn.btn-primary {
    background: #5755d9;
    border-color: #4b48d6;
    color: #fff
}

.btn.btn-primary:focus,
.btn.btn-primary:hover {
    background: #4240d4;
    border-color: #3634d2;
    color: #fff
}

.btn.btn-primary:active {
    background: #3a38d2;
    border-color: #302ecd;
    color: #fff
}

.btn.btn-lg {
    font-size: .9rem;
    height: 2rem;
    padding: .35rem .6rem
}

.form-label {
    display: block;
    line-height: 1.2rem;
    padding: .3rem 0
}

.form-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    background-image: none;
    border: .05rem solid #bcc3ce;
    border-radius: .1rem;
    color: #3b4351;
    display: block;
    font-size: .8rem;
    height: 1.8rem;
    line-height: 1.2rem;
    max-width: 100%;
    outline: 0;
    padding: .25rem .4rem;
    position: relative;
    transition: background .2s, border .2s, box-shadow .2s, color .2s;
    width: 100%
}

.form-input:focus {
    border-color: #5755d9;
    box-shadow: 0 0 0 .1rem rgba(87, 85, 217, .2)
}

.form-input:-ms-input-placeholder {
    color: #bcc3ce
}

.form-input::-ms-input-placeholder {
    color: #bcc3ce
}

.form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: .05rem solid #bcc3ce;
    border-radius: .1rem;
    color: inherit;
    font-size: .8rem;
    height: 1.8rem;
    line-height: 1.2rem;
    outline: 0;
    padding: .25rem .4rem;
    vertical-align: middle;
    width: 100%
}

.form-select:focus {
    border-color: #5755d9;
    box-shadow: 0 0 0 .1rem rgba(87, 85, 217, .2)
}

.form-select::-ms-expand {
    display: none
}

.form-select:not([multiple]):not([size]) {
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right .35rem center/.4rem .5rem;
    padding-right: 1.2rem
}

.form-input:not(:-ms-input-placeholder):invalid {
    border-color: #e85600
}

.form-input:not(:-ms-input-placeholder):invalid:focus {
    background: #fffaf7;
    box-shadow: 0 0 0 .1rem rgba(232, 86, 0, .2)
}

.form-input:not(:-ms-input-placeholder):invalid+.form-input-hint {
    color: #e85600
}

.form-input:disabled,
.form-select:disabled {
    background-color: #eef0f3;
    cursor: not-allowed;
    opacity: .5
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

.columns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.column {
    -ms-flex: 1;
    flex: 1;
    max-width: 100%;
}

.column.col-11,
.column.col-12,
.column.col-5,
.column.col-6,
.column.col-7 {
    -ms-flex: none;
    flex: none
}

.col-12 {
    width: 100%
}

.col-11 {
    width: 91.66666667%
}

.col-7 {
    width: 58.33333333%
}

.col-6 {
    width: 50%
}

.col-5 {
    width: 41.66666667%
}

.col-mx-auto {
    margin-left: auto;
    margin-right: auto
}

@media (max-width:840px) {

    .col-md-11,
    .col-md-12 {
        -ms-flex: none;
        flex: none
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.66666667%
    }
}

.float-left {
    float: left !important
}

.flex-centered {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-bold {
    font-weight: 700
}

.text-large {
    font-size: 1.2em
}

.text-small {
    font-size: .9em
}

.text-tiny {
    font-size: .8em
}